{% load static %}

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <p><i class="fa fa-graduation-cap"></i> Best learning management template for ever.</p>
            </div>
            <div class="col-md-6 text-right">
                <ul class="list-inline">
                    <li>
                        <a class="social" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="social" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="social" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="social" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-lock"></i>
                            Login & Register</a>
                        <div class="dropdown-menu">
                            <form method="post">
                                <div class="form-title">
                                    <h4>Login Area</h4>
                                    <hr>
                                </div>
                                <input class="form-control" type="text" name="username" placeholder="User Name">
                                <div class="formpassword">
                                    <input class="form-control" type="password" name="password" placeholder="******">
                                </div>
                                <div class="clearfix"></div>
                                <button type="submit" class="btn btn-block btn-primary">Login</button>
                                <hr>
                                <h4><a href="#">Create an Account</a></h4>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="hovermenu ttmenu">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="index-2.html"><img
                                src="images/xlogo.png.pagespeed.ic.vap6Ukaf0i.png" alt=""></a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown ttmenu-half"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home
                                <b class="fa fa-angle-down"></b></a>
                            <ul class="dropdown-menu menu-bg wbg">
                                <li>
                                    <div class="ttmenu-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="box">
                                                    <ul>
                                                        <li><a href="index1.html">Home Version 1</a></li>
                                                        <li><a href="index2.html">Home Version 2</a></li>
                                                        <li><a href="index3.html">Home Version 3</a></li>
                                                        <li><a href="index4.html">Home Version 4</a></li>
                                                        <li><a href="index5.html">Home Version 5</a></li>
                                                        <li><a href="index6.html">Home Version 6</a></li>
                                                        <li><a href="index7.html">Home Version 7</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="box">
                                                    <ul>
                                                        <li><a href="index8.html">Home Version 8</a></li>
                                                        <li><a href="index9.html">Home Version 9</a></li>
                                                        <li><a href="index10.html">Home Version 10</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'course' %}">Courses</a> </li>
                        <li><a href="{% url 'community' %}">Community</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="btn btn-primary" href="{% url 'account' %}"><i class="fa fa-sign-in"></i>
                                Register Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>