{% extends 'main.html' %}

{% block content %}

{% load static %}

<section class="grey section">
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-8 col-sm-8 col-xs-12">
                <div class="blog-wrapper">
                    <div class="row second-bread">
                        <div class="col-md-6 text-left">
                            <h1>Blog & News</h1>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="bread">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li class="active">Blog</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-wrapper">
                    <div class="blog-title">
                        <a class="category_title" href="#" title="">{{ blog.category }}</a>
                        <h2><a href="" title="">{{ blog.title }}</a></h2>
                        <div class="post-meta">
                            <span>
                                <i class="fa fa-user"></i>
                                <a href="#">{{ blog.host }}</a>
                            </span>
                            <span>
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ blog.created | timesince }} :ago</a>
                            </span>
                            <span>
                                <i class="fa fa-comments"></i>
                                <a href="#">21 Comments</a>
                            </span>
                            <span>
                                <i class="fa fa-eye"></i>
                                <a href="#">123 Views</a>
                            </span>
                        </div>
                    </div>
                    <div class="blog-image">
                        <a href="" title=""><img src="{{ blog.image.url }}" alt="" width="100%"
                                class="img-responsive"></a>
                    </div>
                    <div class="blog-desc">
                        <div class="post-date">
                            <span class="day">{{ blog.created | date }}</span>
                            <span class="month">Posted</span>
                        </div>
                        <p>{{ blog.description |escape |linebreaks }}</p>

                    </div>
                </div>

                <hr class="invis">

                <div class="widget-title">
                    <h4>Leave a comment</h4>
                    <hr>
                </div>
                <div id="contact_form" class="contact_form row">
                    <div id="message"></div>
                    <form id="contactform" method="post">
                        {% csrf_token %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" name="user" id="name" class="form-control" placeholder="Name *">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <textarea class="form-control" name="body" id="comments" rows="6" placeholder=""></textarea>
                            <button type="submit" class="btn btn-primary btn-block">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>



            <div id="sidebar" class="col-md-4 col-sm-4 col-xs-12">

                <div class="widget">
                    <div class="widget-title">
                        <h4>Subscribe Us</h4>
                        <hr>
                    </div>
                    <div class="newsletter">
                        <p>Subscribe to our weekly Newsletter and stay tuned and get more freebies.</p>
                        <form>
                            <input type="text" class="form-control" placeholder="Enter your email here...">
                            <input type="submit" value="Subscribe Now!" class="btn btn-primary btn-block" />
                        </form>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h4>Popular Courses</h4>
                        <hr>
                    </div>
                    <ul class="popular-courses">
                        {% for blog in blogs %}
                        <li>
                            <a href="#" title=""><img class="img-thumbnail img-responsive"
                                    src="{{blog.image.url}}" width="100%" height="100" alt=""></a> 
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h4>Recent Comments</h4>
                        <hr>
                    </div>
                    <div class="twitter-widget">
                        <ul class="latest-tweets">
                            {% for comment in comments %}
                            <li>
                                <p>
                                    <i class="fa fa-comments"></i>
                                    <a href="#">{{comment.user}}</a>
                                    {{comment.body}}
                                </p>
                                <span>{{ comment.created | timesince}}: ago</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}